In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

#CREAR DATAFRAMES

In [ ]:
data=np.array([[2,3],[6,4],[7,1]])
df=pd.DataFrame(data, index=["fila 1", "fila 2", "fila 3"], columns=["col1", "col2"])
df

        col1  col2
fila 1     2     3
fila 2     6     4
fila 3     7     1

In [ ]:
provincias=["Chaco", "Santa Fe", "Entre Rios", "Cordoba", "Buenos Aires"]
poblacion=[12321421,435434545,456325353,757474537,345646573633]
dic_provincias={"Provincias":provincias, "Poblacion":poblacion}

df=pd.DataFrame(dic_provincias)
df

     Provincias     Poblacion
0         Chaco      12321421
1      Santa Fe     435434545
2    Entre Rios     456325353
3       Cordoba     757474537
4  Buenos Aires  345646573633

#OBTENER DATAFRAME DESDE UN ARCHIVO .CSV

In [ ]:
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#INFORMACION DEL DATAFRAME Y COMO MOSTRAR LOS DATOS

In [ ]:
df.head(100)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
95,-119.82,36.64,30.0,1694.0,312.0,1008.0,321.0,2.2466,96000.0
96,-120.21,36.77,20.0,1745.0,348.0,1093.0,302.0,2.3194,90600.0
97,-120.97,38.42,16.0,1748.0,322.0,4930.0,287.0,4.3029,121900.0
98,-121.19,38.87,20.0,3118.0,500.0,1405.0,519.0,6.0000,209400.0
99,-118.20,33.77,52.0,1375.0,457.0,1089.0,317.0,2.2344,200000.0

In [ ]:
df.tail(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.index

RangeIndex(start=0, stop=3000, step=1)

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
len(df)

3000

In [ ]:
max(df.index)

2999

In [ ]:
min(df.index)

0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
round(df,2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.61,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.60,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.79,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.14,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.94,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.18,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.39,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.29,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.27,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.56,500001.0

In [ ]:
df["latitude"]

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [ ]:
type(df['latitude'])

pandas.core.series.Series

In [ ]:
df['latitude'].index

RangeIndex(start=0, stop=3000, step=1)

In [ ]:
df['latitude'].head()

0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
Name: latitude, dtype: float64

In [ ]:
df[['latitude','longitude']].head()

   latitude  longitude
0     37.37    -122.05
1     34.26    -118.30
2     33.78    -117.81
3     33.82    -118.36
4     36.33    -119.67

In [ ]:
type(df[['latitude','longitude']])

pandas.core.frame.DataFrame

In [ ]:
from numpy.core.fromnumeric import mean
df['latitude mean']=mean(df['latitude'])
df['latitude mean'].head()

0    35.63539
1    35.63539
2    35.63539
3    35.63539
4    35.63539
Name: latitude mean, dtype: float64

#CREAR SECUENCIA CON NUMPY

In [ ]:
secuencia=np.arange(10)
secuencia

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

#INSERTAR NUEVAS COLUMNAS

In [ ]:
arreglo_random=np.random.randint(1,100,size=len(df))
df['random']=arreglo_random
df['random']

0       82
1       20
2       76
3       56
4       23
        ..
2995    30
2996    79
2997     1
2998    34
2999    25
Name: random, Length: 3000, dtype: int64

In [ ]:
rand1=np.random.randint(1,100,size=len(df))
rand2=np.random.randint(1,100,size=len(df))

In [ ]:
serie1=pd.Series(rand1, index=np.arange(len(df)))
serie2=pd.Series(rand2, index=np.arange(len(df)))

In [ ]:
df=df.assign(rand1=serie1, rand2=serie2)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,latitude mean,random,rand1,rand2
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,35.63539,82,97,71
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,35.63539,20,72,88
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,35.63539,76,74,50
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,35.63539,56,70,15
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,35.63539,23,58,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,35.63539,30,49,78
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,35.63539,79,38,39
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,35.63539,1,91,76
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,35.63539,34,57,7
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,35.63539,25,15,32

In [ ]:
df.insert(1,'test', serie1)
df

,longitude,test,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,latitude mean,random,rand1,rand2
0,-122.05,97,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,35.63539,82,97,71
1,-118.30,72,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,35.63539,20,72,88
2,-117.81,74,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,35.63539,76,74,50
3,-118.36,70,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,35.63539,56,70,15
4,-119.67,58,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,35.63539,23,58,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,49,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,35.63539,30,49,78
2996,-118.14,38,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,35.63539,79,38,39
2997,-119.70,91,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,35.63539,1,91,76
2998,-117.12,57,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,35.63539,34,57,7
2999,-119.63,15,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,35.63539,25,15,32

#FRECUENCIA DE APARICION DE VALORES

In [ ]:
valores_lat=df['latitude'].value_counts(normalize=True)
valores_lat

34.02    0.011667
34.06    0.011000
34.05    0.010667
34.07    0.010333
34.11    0.010333
           ...
37.08    0.000333
39.19    0.000333
38.21    0.000333
36.55    0.000333
34.68    0.000333
Name: latitude, Length: 587, dtype: float64

#ORDENAR VALORES

In [ ]:
df.sort_values('latitude')

,longitude,test,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,latitude mean,random,rand1,rand2
1208,-117.09,56,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0,35.63539,17,56,42
2371,-117.08,17,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0,35.63539,81,17,92
1617,-117.12,39,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0,35.63539,58,39,40
1045,-117.11,69,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0,35.63539,46,69,26
274,-117.05,10,32.58,23.0,1918.0,339.0,1392.0,340.0,4.0870,134800.0,35.63539,47,10,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,-122.32,19,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0,35.63539,69,19,14
2778,-123.92,8,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0,35.63539,76,8,73
2951,-122.64,35,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0,35.63539,36,35,16
1422,-124.17,70,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0,35.63539,47,70,38
910,-124.16,62,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0,35.63539,70,62,89

In [ ]:
df.sort_values('latitude',ascending=False)

,longitude,test,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,latitude mean,random,rand1,rand2
910,-124.16,62,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0,35.63539,70,62,89
1422,-124.17,70,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0,35.63539,47,70,38
2951,-122.64,35,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0,35.63539,36,35,16
2778,-123.92,8,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0,35.63539,76,8,73
2018,-122.32,19,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0,35.63539,69,19,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649,-117.13,2,32.58,27.0,2511.0,615.0,1427.0,576.0,3.1645,156000.0,35.63539,49,2,36
1045,-117.11,69,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0,35.63539,46,69,26
1617,-117.12,39,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0,35.63539,58,39,40
2371,-117.08,17,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0,35.63539,81,17,92
1208,-117.09,56,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0,35.63539,17,56,42

In [ ]:
df.sort_values(['latitude','total_rooms'],ascending=False)

,longitude,test,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,latitude mean,random,rand1,rand2
910,-124.16,62,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0,35.63539,70,62,89
1422,-124.17,70,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0,35.63539,47,70,38
2951,-122.64,35,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0,35.63539,36,35,16
2778,-123.92,8,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0,35.63539,76,8,73
2018,-122.32,19,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0,35.63539,69,19,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761,-117.10,42,32.58,33.0,393.0,76.0,330.0,80.0,4.1029,122700.0,35.63539,69,42,99
1045,-117.11,69,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0,35.63539,46,69,26
2371,-117.08,17,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0,35.63539,81,17,92
1617,-117.12,39,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0,35.63539,58,39,40
1208,-117.09,56,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0,35.63539,17,56,42

#SETEAR NUEVO INDEX

In [ ]:
new_index=np.arange(0,df.shape[0])
random.shuffle(new_index)
new_index

array([1807, 2929, 1007, ..., 2874, 1473,  466])

In [ ]:
df['new index']=new_index
df.set_index('new index')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
new index,,,,,,,,,
1807,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2929,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
1007,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
1216,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
373,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2109,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
779,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2874,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
1473,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
466,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#SORT INDEX

In [ ]:
df.sort_index(ascending=False)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new index
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,466
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,1473
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,2874
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,779
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,2109
...,...,...,...,...,...,...,...,...,...,...
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,373
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,1216
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,1007
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,2929
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,1807

#RENOMBRAR COLUMNAS

In [ ]:
df.rename(columns={'latitude':'Latitude'}, inplace=True)
df

,longitude,Latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new index
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,1807
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,2929
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,1007
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,1216
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,373
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,2109
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,779
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,2874
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,1473
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,466

#RENOMBRAR FILAS

In [ ]:
df.rename(index={0:'A', 1:'B', 2:'C'}, inplace=True)
df.head(4)

,longitude,Latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new index
A,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,1807
B,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,2929
C,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,1007
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,1216